.weather{
    /* background-image:   url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=1000"); */
    color: rgb(20, 22, 22);
    background-color: rgb(237, 103, 103);
    height: 75vh;
    width: 20%;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 10vh;
    border: 2px solid rgb(5, 5, 5);
}

